***************************************
RESET
***************************************/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dd,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/********************/

html, body {
	width: 100%;
	font-family: sans-serif;
}

h1 {
	text-align: center;
	margin: 50px auto;
}

form {
	width: 50%;
	min-width: 320px;
	padding: 20px;
	margin: 0 auto;
	border: 5px inset yellow;
	border-radius: 15px;
	background-color: #f0f0f0;
}

label:not(.last) {
	display: block;
}

.q {
	margin-top: 20px;
}

#fname, #lname, #email, #zip {
	width: 100%;
}


#fname, #lname, #email, #zip, #bday {
	border-radius: 5px;
	padding-left: 5px;
	border-color: yellow;
	border-style: inset;
}

.button-box {]
	width: 100%;
	text-align: center;
}

#button {
	text-align: center;
	grid-area: btn;
	background-color: #909090;
	margin: 0 auto 30px;
	color: yellow;
	text-shadow: 1px 1px #101010;
	font-weight: 900;
	font-size: 1.7em;
	border: none;
	border-radius: 5px;
	box-shadow: 2px 3px #505050;
}

#button:active, #button:focus {
	outline: none;
}

#button:hover {
	background-color: #808080;
	text-shadow: 2px 2px #101010;
}

#button:active {
	background-color: #505050;
	color: #c29f02;
	text-shadow: -1px -1px #101010;
	box-shadow: 2px 3px #707070;
}

.group {
	background: #fff;
	border-radius: 5px;
	padding: 15px;
}

.r-block {
	min-width: 40%;
	display: inline-block;
	position: relative;
}

.r-block label {
	display: inline-block;
	min-width: 40%;
	float: left;
}

.r-block:last-child label {
	min-width: 20%;
	padding-left: 20%;
}

.r-block input {
	float: left;
}

.hidden {
	visibility: hidden;
	position: relative;
}

.none {
	display: none;
}

.warning, .warning:after {
	color: red;
	display: block;
}

.warning {
	font-size: .8em;
}

.visible {
	visibility: visible;
}

.asterisk {
	margin-top: 20px;
	text-align: center;
}

.gottem {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 100%;
	font-size: .8em;
	color: blue;
}

.fname-warning:after, .lname-warning:after, .email-warning:after, .zip-warning:after, .bday-warning:after {
	visibility: visible;
	position: absolute;
	top: 0;
	left: 0;
	min-width: 175%;
}

.fname-warning:after, .lname-warning:after {
	content: "Must contain only letters, hyphens, or apostrophes"
}

.email-warning:after {
	content: "Must be a valid email format";
}

.zip-warning:after {
	content: "Must be a valid zip code";
}

.bday-warning:after {
	content: "Must be over 18";
}